<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Generación de Horarios - Deusto{% endblock %}</title>

    <!-- Bootstrap CSS (Si se usa) -->
    <!-- CSS propio (Si se usa) -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('inicio') }}">Inicio</a>
                <a class="nav-link" href="{{ url_for('lista_profesores') }}">Profesores</a>
                <a class="nav-link" href="{{ url_for('lista_aulas') }}">Aulas</a>
                <a class="nav-link" href="{{ url_for('lista_grados') }}">Grados y Asignaturas</a>
                <a class="nav-link btn btn-primary text-white ms-lg-3" href="{{ url_for('vista_stream') }}">Generar Horario</a>
                <a href="{{ url_for('preview_pruebas') }}"><span>Preview Pruebas</span></a>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Deusto - Aplicación de Generación de Horarios</p>
    </footer>

    <!-- Bootstrap JS (Si se usa) -->
    <!-- JS propio (Si se usa) -->
</body>
</html>